<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <groups>
        <run>
            <include name="Regression"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="com.pkauto.TestUtils.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/prabh/OneDrive/Documents/GitHub/appium-mobile-automation">
        <classes>
            <class name="com.pkauto.BrowserTestCase"/>

            <class name="com.pkauto.eCommerce_TC_1"/>
            <class name="com.pkauto.eCommerce_TC_2">
            </class>
<!--            <class name="com.pkauto.eCommerce_TC_3">-->

<!--            </class>-->

        </classes>
    </test>
</suite>